DATABASE_URL="mysql://root:@localhost:3306/publitv"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_SOCKET_URL="http://localhost:3000"
JWT_SECRET="cambia-esto-por-un-secreto-seguro-min-32-chars"
PORT=3000
HOSTNAME=localhost
